COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
src/libptp-endian.h
src/libptp-stdint.h
src/ptpcam
stamp-h1

*.o
*.la
*.lo
.deps
.libs
.*.swp
.*.swo
.*.un~

